'.source.ruby':
  'YARD @option':
    prefix: '#@o'
    body: '# @option ${1:parent} [${2:Type}] ${3:argument} ${4:definition}'
  'YARD @param':
    prefix: '#@p'
    body: '# @param [${1:Type}] ${2:argument} ${3:definition}'
  'YARD @return':
    prefix: '#@r'
    body: '# @return [${1:Type}] ${3:definition}'
